body, html {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#menuLinks {
    background-color: black; 
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

    
    #menuLinks a {
        color: white; 
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block;
        transition: background-color 0.3s ease;
        font-size: 16px;
    }

#right-links {
    margin-left: auto; 
    display: flex;
}


#menuLinks a:hover {
    background-color: #575757;
}

#cenetering {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#cenetering2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.prueba {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;

}

.cell2 {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.sudoku {
    border-collapse: collapse;
    border: 5px solid #000;   
}

.sudoku tr:nth-child(3n) td,
.sudoku tr:nth-child(3n+3) td {
    border-bottom: 3px solid #000;
}

.sudoku td:nth-child(3n) {
    border-right: 3px solid #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    outline: none;
}

.image1 {
    background-image: url('/Css/images/ArrowC.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image2 {
    background-image: url('/Css/images/Linea.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image3 {
    background-image: url('/Css/images/CerrarThermo.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image4 {
    background-image: url('/Css/images/TurnDown.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}


.image5 {
    background-image: url('/Css/images/TurnUp.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image6 {
    background-image: url('/Css/images/LineaG.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image7 {
    background-image: url('/Css/images/TurnDownLeft.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image8 {
    background-image: url('/Css/images/TurnUpLeft.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image9 {
    background-image: url('/Css/images/image9.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image10 {
    background-image: url('/Css/images/image10.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image11 {
    background-image: url('/Css/images/image11.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image12 {
    background-image: url('/Css/images/image12.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image13 {
    background-image: url('/Css/images/image13.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image14 {
    background-image: url('/Css/images/image14.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image15 {
    background-image: url('/Css/images/image15.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}
.image16 {
    background-image: url('/Css/images/CerrarThermo_1.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}
.image17 {
    background-image: url('/Css/images/CerrarThermo_2.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}
.image18 {
    background-image: url('/Css/images/CerrarThermo_3.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}
.image19 {
    background-image: url('/Css/images/image10_1.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}
.image20 {
    background-image: url('/Css/images/image10_2.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}
.image21 {
    background-image: url('/Css/images/image10_3.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

#user-stuff .entry input[type="text"],
#user-stuff .entry input[type="password"] {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

#user-stuff {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    justify-content: center;
}

#user-stuff  .label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}
#user-stuff .field {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#user-stuff .checkbox {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

#user-stuff .button {
    text-align: center;
    width: 100%;
}

#user-stuff .entry select {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; 
}


#user-stuff button,
#user-stuff input[type="submit"],
#user-stuff input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
}

    #user-stuff button:hover,
    #user-stuff input[type="submit"]:hover,
    #user-stuff input[type="button"]:hover {
        background-color: #888888;
    }





#home {
    width: 800px;
}
#home .label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

#home .field {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home .button {
    text-align: center;
    width: 100%;
}

#home .entry select {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 14px; 
}

#home .entry input[type="text"],
#home .entry input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#home #types {
    display: flex;
    width: 100%;
    justify-content: center;
}

#home #parameters {
    display: flex;
    width: 100%;
    justify-content: center;
}


#home #parameters .entry input[type="text"],
#home #parameters .entry input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#home #parameters .entry select {
    width: 95%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 14px;
}
#home table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 10px;
}
#home table td {
    padding: 8px;
    text-align: left;
}
#home table th {
    background-color: #f2f2f2;
    padding: 8px;
}

#home #types button,
#home #types input[type="submit"],
#home #types input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 12px 20px;
    border: none;
    margin: 0 0px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
}


#home button,
#home input[type="submit"],
#home input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
}

    #home button:hover,
    #home input[type="submit"]:hover,
    #home input[type="button"]:hover {
        background-color: #888888;
    }



#profile {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 800px;
}
#FirstLine {
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}
    #FirstLine a {
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block;
        font-size: 16px;
    }
    #FirstLine .Username .FirstName .LastName {
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block;
        font-size: 16px;
    }

#profile #data > div {
    display: flex;
    flex-direction: row;
}
#profile #links {
    margin-left: auto;
    display: flex;
}
#profile #textUsername, #textFirstName, #textLastName {
    margin-left: 10px;
    font-weight: bold;
}
#profile table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 10px;
}

#profile table td {
    padding: 8px;
    text-align: left;
}

#profile table th {
    background-color: #f2f2f2; 
    padding: 8px;
}

#profile button,
#profile input[type="submit"],
#profile input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
}

    #profile button:hover,
    #profile input[type="submit"]:hover,
    #profile input[type="button"]:hover {
        background-color: #888888;
    }


#Selector {
    width: 800px;
}
#dificultis {
    display: flex;
    justify-content: space-between; 
    height: 90vh; 
    margin-top: 10px;
}

    #dificultis > div {
        flex: 1;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 10%; 
    }



#Selector button,
#Selector input[type="submit"],
#Selector input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 20px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

    #Selector button:hover,
    #Selector input[type="submit"]:hover,
    #Selector input[type="button"]:hover {
        background-color: #888888;
    }


#ranking {
    width: 800px;
}
#ranking table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 10px;
}

#ranking table td {
    padding: 8px;
    text-align: left;
}

#ranking table th {
    background-color: #f2f2f2;
    padding: 8px;
}

#sudokuCreator {
    width: 800px;
}

#sudokuCreator #categories {
    display: flex; 
    gap: 15px; 
    align-items: center
}

#sudokuCreator #categories .checkbox {
    display: flex;
    align-items: center; 
}
#paths {
    display: flex; 
    gap: 15px; 
    flex-direction: column;
}
#paths {
    display: flex;
    align-items: center; 
}

#sudokuCreator #total {
    display: flex;
}

#sudokuCreator #total #sudoku-creation {
    margin-left: 10px;   
}

#sudokuCreator .label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

#sudokuCreator .field {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#sudokuCreator .entry input[type="text"],
#sudokuCreator .entry input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#sudokuCreator .entry select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

 #sudoku-creation button,
#sudoku-creation input[type="submit"],
 #sudoku-creation input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 20px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

    #sudoku-creation button:hover,
    #sudoku-creation input[type="submit"]:hover,
    #sudoku-creation input[type="button"]:hover {
        background-color: #888888;
    }


#hh button,
#hh input[type="submit"],
#hh input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 20px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

    #hh button:hover,
    #hh input[type="submit"]:hover, 
    #hh input[type="button"]:hover {
        background-color: #888888;
    }

#solve button,
#solve input[type="submit"],
#solve input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    padding: 20px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

    #solve button:hover,
    #solve input[type="submit"]:hover,
    #solve input[type="button"]:hover {
        background-color: #888888;
    }

#solve .label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}
#solve .label2 {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
}

#solve .field {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#solve .entry input[type="text"],
#solve .entry input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#solve .entry select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}