body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#menuLinks {
    overflow: hidden;
    background-color: #333;
}

    #menuLinks a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        #menuLinks a:hover {
            background-color: #111;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

.prueba {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
}
.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;

}
.sudoku {
    border-collapse: collapse;
    border: 5px solid #000;   
}

.sudoku tr:nth-child(3n) td,
.sudoku tr:nth-child(3n+3) td {
    border-bottom: 3px solid #000;
}

.sudoku td:nth-child(3n) {
    border-right: 3px solid #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    outline: none;
}

.image1 {
    background-image: url('/Css/images/ArrowC.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image2 {
    background-image: url('/Css/images/Linea.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image3 {
    background-image: url('/Css/images/CerrarThermo.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image4 {
    background-image: url('/Css/images/TurnDown.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}


.image5 {
    background-image: url('/Css/images/TurnUp.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image6 {
    background-image: url('/Css/images/LineaG.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image7 {
    background-image: url('/Css/images/TurnDownLeft.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image8 {
    background-image: url('/Css/images/TurnUpLeft.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image9 {
    background-image: url('/Css/images/image9.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image10 {
    background-image: url('/Css/images/image10.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image11 {
    background-image: url('/Css/images/image11.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image12 {
    background-image: url('/Css/images/image12.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image13 {
    background-image: url('/Css/images/image13.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image14 {
    background-image: url('/Css/images/image14.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}

.image15 {
    background-image: url('/Css/images/image15.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #979191;
    transition: all 0.3s ease-in-out;
}